<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static',filename='high.css')}}"/>
    <title>Thank You!</title>
  </head>
  <body>
    <div class="home-box custom-box">
      <img src="static/logo.jpg" alt="" class="logo">
      <h3><b>You're a Huge Potential Threat</b></h3>
      <h3><b>Your Risk Percentage is {{per}}</b></h3>
      <h3>You've got a long way to go. The good news is that there's only one way to go </h3>
      <h3>is up! To begin, think about every click, upload, send, and other interaction </h3>
      <h3>you have with a system or file. You can limit access by knowing who might have </h3>
      <h3>access and how that access might be used.</h3>
      <br>
      <h3>Suggestion :Not all risks are negatives, so don't only focus on the downsides. Risks can be positive too, presenting opportunities and enabling us to take advantage of a given event or situation.</h3>
    </div>
  </body>
</html>
