<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{{ url_for('static',filename='moderate.css')}}"/>
    <title>Thank You!</title>
  </head>
  <body>
    <div class="home-box custom-box">
      <img src="static/logo.jpg" alt="" class="logo">
      <h3><b>You're Moderate Potential Threat</b></h3>
      <h3><b>Your Risk Percentage Is {{per}}</b></h3>
      <h3>Wow, you're a pretty risk averse person,but there are some things you can do</h3>
      <h3>to improve your cyber health.You can put in a little more effort to</h3>
      <h3>improve your cyber health so that you can effectively reduce your risk of being</h3>
      <h3>the victim of an insider threat incident.</h3>
      <br>
      <h3>It's never too soon to start thinking about risk. The sooner you do this, the easier it will be to manage the risk. Think about risk management at the start of every project or task. What Early Warning Indicators (EWIs) can we track for different risks? Risk management should be embedded into all of your work processes and corporate culture.</h3>
    </div>
  </body>
</html>
